<template>
  <v-footer color="#440112">
    <div class="footer-content">
      <span>
        &copy; 2019
        <a target="_blank" href="https://www.nicolasloots.be/">Nicolas Loots</a>
      </span>
      <span>{{ 'v' + currentVesion }}</span>
    </div>
  </v-footer>
</template>

<style lang="scss" scoped>
footer {
  display: none;
  span,
  a,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  footer {
    font-size: 1em;
    display: initial;
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {version} from '../../package.json';

@Component
export default class Footer extends Vue {
  get currentVesion(): string {
    return version;
  }
}
</script>
