<template>
  <div class="wrapper">
    <div v-if="!eventFinished" :class="{finished: timerFinished}" class="countdown">
      <div class="countdown-item" v-for="(part, index) in times" v-bind:key="index">
        <span class="counter">{{ part.time }}</span>
        <span>{{ part.text }}</span>
      </div>
    </div>
    <div v-else class="event-finished">
      <h1>The party is over.</h1>
      <h2>See you next year!</h2>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@font-face {
  font-family: 'Digital-7';
  src: url('../assets/digital_7/digital-7.ttf');
}

p,
a,
a:visited,
a:active {
  color: yellow;
  text-decoration: none;
}

p {
  background-color: rgba(0, 0, 0, 0.6);
}

.countdown-item {
  padding: 1em;
  background-color: black;
  border: 1px solid red;
  color: white;
  display: flex;
  flex-flow: column;
  width: 120px;
  text-align: center;
  .counter {
    font-family: Digital-7, sans-serif;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
  }
}

.finished {
  box-shadow: 0 0 20px 10px white;
}

.event-finished {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

img {
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 100%;
  }
  .countdown {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    .countdown-item {
      font-size: 2em;
      width: auto;
    }
  }
  img {
    width: 75%;
  }
  p {
    background-color: transparent;
    font-size: 2em;
  }
  .event-finished {
    font-size: 2.6rem;
  }
}
</style>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {isPast, differenceInMilliseconds, differenceInHours} from 'date-fns';

@Component
export default class Home extends Vue {
  times = [
    {text: 'Days', time: 0},
    {text: 'Hours', time: 0},
    {text: 'Minutes', time: 0},
    {text: 'Seconds', time: 0},
  ];

  timerFinished: boolean = false;
  eventFinished: boolean = false;
  timeInterval: number = 0;
  endTime = new Date(process.env.VUE_APP_ENDDATE);
  created() {
    this._getRemainingTime();
    this.timeInterval = setInterval(this._getRemainingTime);
  }
  destroyed() {
    clearInterval(this.timeInterval);
  }

  private _getRemainingTime() {
    this.timerFinished = isPast(this.endTime);
    this.eventFinished = differenceInHours(new Date(), this.endTime) > 12;
    if (this.timerFinished || this.eventFinished) {
      clearInterval(this.timeInterval);
    } else {
      const remaining = differenceInMilliseconds(this.endTime, new Date());
      this.times[3].time = Math.floor((remaining / 1000) % 60);
      this.times[2].time = Math.floor((remaining / 1000 / 60) % 60);
      this.times[1].time = Math.floor((remaining / (1000 * 60 * 60)) % 24);
      this.times[0].time = Math.floor(remaining / (1000 * 60 * 60 * 24));
    }
  }
}
</script>
