<template>
  <div class="wrapper">
    <v-list>
      <v-list-item v-for="artist in artists" :key="artist.name">
        <v-list-item-icon>
          <v-icon>mdi-music-circle</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{artist.name}}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-avatar>{{artist.startTime}}</v-list-item-avatar>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import Vue from 'vue';
import Component from 'vue-class-component';
import {shuffleArray} from '../model/helpers';
import {ARTISTS} from '../model/artists';

@Component
export default class Tickets extends Vue {
  get artists() {
    return ARTISTS;
  }
}
</script>

<style>
.v-avatar.v-list-item__avatar {
  width: auto !important;
}
</style>
