<template>
  <div class="wrapper">
    <div ref="imgWrapper" class="img-wrapper">
      <img v-for="sponsor in sponsors" :key="sponsor.name" :src="sponsor.path" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import {shuffleArray} from '../model/helpers';

import firebase from 'firebase/app';

interface FirebaseImage {
  id: string;
  path: string;
}

@Component
export default class Sponsors extends Vue {
  sponsors: FirebaseImage[] = [];
  private readonly STORAGE = firebase.storage();
  private _imgInterval: number = 0;

  async mounted() {
    this.sponsors = shuffleArray(await this.fetchSponsorImages());
  }

  updated() {
    if (!this._imgInterval) {
      this._initScroll();
    }
  }

  beforeDestroy() {
    clearInterval(this._imgInterval);
  }

  async fetchSponsorImages(): Promise<FirebaseImage[]> {
    const firebaseResult = await this.STORAGE.ref('sponsors/').listAll();
    return await Promise.all(
      firebaseResult.items.map(async result => {
        return {
          id: result.name,
          path: await result.getDownloadURL(),
        };
      })
    );
  }

  private _initScroll() {
    const imgWrapper = this.$refs.imgWrapper as Element;
    let scrollDistance = 0;
    let scrollIndex = 0;
    const imageWidths: number[] = [
      ...imgWrapper?.getElementsByTagName('img'),
    ].map(tag => tag.width);

    if (!imageWidths?.length) { return; }

    this._imgInterval = setInterval(() => {
      imgWrapper.scrollTo({left: scrollDistance, behavior: 'smooth'});
      if (scrollIndex < imageWidths.length) {
        scrollDistance += imageWidths[scrollIndex];
        scrollIndex++;
      } else {
        scrollDistance = 0;
        scrollIndex = 0;
      }
    }, 3000);
  }
}
</script>

<style lang="scss">
.img-wrapper {
  max-height: 100vh;
  overflow-x: hidden;
  white-space: nowrap;
  img {
    width: 100%;
    display: inline-block;
    max-height: 60vh;
    @media screen and (min-width: 480px) {
      width: 50%;
    }
  }
}
</style>
