<template>
  <div class="wrapper">
    <p>VVK kaarten zijn verkrijgbaar aan €5 per stuk bij volgende verkooppunten:</p>
    <v-card tile>
      <v-list-item v-for="location in locations" :key="location.name">
        <v-list-item-title>{{ location.name }}</v-list-item-title>
        <v-spacer></v-spacer>
        <v-list-item-action v-if="location.mapsUrl">
          <v-btn icon :href="location.mapsUrl" target="_blank">
            <v-icon>mdi-google-maps</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue';
import Component from 'vue-class-component';

@Component
export default class Tickets extends Vue {
  locations = [
    {
      name: 'Nachtwinkel Apu',
      mapsUrl:
        'https://www.google.com/maps/place/Nightshop+Apu/@51.0928561,4.1364213,15z/data=!4m5!3m4!1s0x0:0x2744be3329f8c786!8m2!3d51.0928561!4d4.1364213',
    },
    {
      name: 'Bloemen De Molen',
      mapsUrl:
        'https://www.google.com/maps/place/Bloemen+De+Molen/@51.0923281,4.133721,17z/data=!3m1!4b1!4m5!3m4!1s0x47c391f19835a8c3:0x114c5c427a1d82bc!8m2!3d51.0923248!4d4.1359097',
    },
    {
      name: 'Frituur De Tuit',
      mapsUrl:
        'https://www.google.com/maps/place/Restaurant-Frituur-Snack+De+Tuit/@51.0947784,4.1406254,17z/data=!3m1!4b1!4m5!3m4!1s0x47c391f7995ec1b3:0x6685b1a091e9ccf3!8m2!3d51.0947751!4d4.1428141',
    },
    {
      name: '+16-leden KLJ Hamme',
    },
  ];
}
</script>

<style>
.wrapper {
  font-size: 1.2rem;
}

@media screen and (min-width: 480px) {
  .wrapper {
    font-size: 1.4rem;
  }
}
</style>
