<template>
  <v-app>
    <v-app-bar color="#440112" app>
      <v-toolbar-title>
        <img
          :src="require('@/assets/logo.png')"
          alt="Red Alert logo"
          class="menu-logo"
        />
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        class="btn-top-nav"
        v-for="routeItem in routes"
        :key="routeItem.title"
        :to="routeItem.route"
        depressed
        color="transparent"
        >{{ routeItem.title }}</v-btn
      >
      <v-btn
        icon
        href="https://www.facebook.com/RedAlertHamme/"
        target="_blank"
      >
        <v-icon>mdi-facebook</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <transition name="fade">
        <router-view />
      </transition>
    </v-main>
    <Footer />
    <v-bottom-navigation background-color="#440112" shift fixed app>
      <v-btn
        v-for="routeItem in routes"
        x-large
        :key="routeItem.title"
        depressed
        :to="routeItem.route"
      >
        <span>{{ routeItem.title }}</span>
        <v-icon>{{ routeItem.icon }}</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.fade-enter-active {
  transition-delay: 0.3s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
  transform: translate(0, -2em);
}

.v-application {
  background: url('./assets/background.jpg') !important;
  background-size: cover !important;
}

body {
  margin: 0;
  span,
  p,
  a {
    font-family: 'Segoe UI', 'Noto Sans', Geneva, Verdana, sans-serif;
  }
}

.wrapper {
  height: 100%;
  padding: 100px 1rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-logo {
  height: 56px;
  width: auto;
  display: block;
}

.v-btn.btn-top-nav {
  display: none;
}

@media screen and (min-width: 480px) {
  .wrapper {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
  }

  .v-bottom-navigation {
    display: none !important;
  }

  .v-btn.btn-top-nav {
    display: inherit;
  }
}
</style>
<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import Footer from './components/Footer.vue';

@Component({
  components: {Footer},
})
export default class App extends Vue {
  routes = [
    {
      title: 'Home',
      route: '/home',
      icon: 'mdi-home',
    },
    {
      title: 'Line-up',
      route: '/lineup',
      icon: 'mdi-headphones',
    },
    {
      title: 'Tickets',
      route: '/vvk',
      icon: 'mdi-ticket',
    },
    {
      title: 'Sponsors',
      route: '/sponsors',
      icon: 'mdi-currency-eur',
    },
  ];
}
</script>
